.ul {
    font-size: 45%;
}

.container-g {
    font-size: 75px;
}

.form-container-1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 75px;
    margin-bottom: 30px;
}

.form-container-2 {
    margin-top: 42px;
}
