.form-grid {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 1%;
}

label {
    text-align: left;
    padding-top: 10%;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    width: 250px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 600px) {

    .form-group,
    .form-grid {
        flex-direction: column;
    }

    label {
        width: auto;
    }
}

.container-title {
    padding: 20px;
    background-color: #f8f9fa;
    border: 5px solid rgb(247, 128, 128);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4%;
    height: 6rem;
    width: 75rem;
}

.container-title h1 {
    margin: 0;
    font-size: 3rem;
    color: #343a40;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}