.content p-4 h1, h5 {
    /* font-size: 50px; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    border: 5px;
    border: black;
    padding: 20px;

}

.content p-4 h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.content {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-dash {
    border: 5px solid rgb(247, 128, 128);
    background-color: white;
    border-radius: 5%;
    margin-left: 250px;
}


/* style={{ marginLeft: '250px', width: '100%' }} */

