.content p-4 h1, h5 {
    /* font-size: 50px; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    border: 5px;
    border: black;
    padding: 20px;
}

.content p-4 h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #343a40;
}

.content {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top:  40px;
}

.container text-center-3 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #343a40; /* Dark gray text color */
}

