.form-grid-button {
    margin-top: 0%;
    background-color: white;
    color: black;
    border-radius: 25px;
    width: 6rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 10%;
    padding: 5%;
    align-items: center;
    font-size: 10px;
    border: black;
    font-size: 1rem;
    border: 5px solid white;
    box-shadow: 0 0 0 5px #f86969;
    color: #343a40;
    line-height: 2rem;
    align-self: auto;
}

.container-policy {

    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #343a40; /* Dark gray text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Box shadow effect for text */
}


