.form-container {
    text-shadow: 2px 2px 4px darkgray(0, 0, 0, 0.5);
    margin-top: 40px;
    color:  darkgray;
    color: darkred;
    margin-bottom: 60px;
}

.container-title-outdoor {
    padding: 20px;
    background-color: #f8f9fa;
    border: 5px solid rgb(247, 128, 128);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1px;
    border-radius: 4%;
    height: 6rem;
    width: 45rem;
  }
