.Welcomebutton {
    margin-top: 5%;
    background-color: white;
    /* border: 5px solid rgb(247, 128, 128); */
    color: black;
    border-radius: 25px;
    width: 20rem;
    height: 5rem;
    text-align: center;
    margin-bottom: 0%;
    padding: 0%;
    align-items: center;
    font-size: 20px;
    border: black;
    font-size: 2rem;
    border: 5px solid white; /* White border nearest the image */
    box-shadow: 0 0 0 5px #f86969; /* Red border on the outside */

    color: #343a40; /* Dark gray text color */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Box shadow effect for text     */
}

